node_modules/

node_modules/
dist/
android/.gradle/
android/local.properties
android/app/build/
android/build/
*.keystore
*.jks
.DS_Store

android/local.properties
*.jks
*.keystore
*.mobileprovision
*.p12
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/build/
